<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

	RewriteEngine on
	RewriteCond %{REQUEST_URI} !^/admin/index.html$
	RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|css|js|svg|ttf|woff|woff2)$
	RewriteRule .* /admin/index.html [L,R=302]
</IfModule>
